<nav class="white">
  <div class="nav-wrapper container">
    <a href="/" class="brand-logo black-text">[?]</a>
  </div>
</nav>

<div class="container">
  <div id="all-ideas"></div>

  <a class="btn modal-trigger" href="#add-idea">New Idea!</a>

  <div id="add-idea" class="modal">

    <div class="modal-content">
      <input type="text" name="title" placeholder="Title..." id="create-title">
      <textarea name="body" class="materialize-textarea" rows="8" cols="40" placeholder="Body..." id="create-body"></textarea>
    </div>

    <div class="modal-footer">
      <button class="modal-action modal-close btn-flat" id="create-trigger">Submit</a>
      <button class="modal-action modal-close btn-flat">Cancel</a>
    </div>
  </div>
</div>
